:root {
    --color-purple:#9b51e0;
    --color-diagonal:#3535de;
    --color-diagonal-2:#2c2cc9;
    --bg-overlay:rgba(41, 34, 177, 0.3);
    --color-white:#ffffff;
    --color-bluish-cyan:#f3f3ff;
    --color-gray:#7A7A7A;
    --color-text:#26262c;
    --color-text-2:#76767f;
    --color-cont:#54595F;
    --color-bluish-gray:#abb8c3;
    --font-Hebo: 'Heebo',sans-serif;
    --font-bryga: 'Brygada 1918', serif;
    --font-merienda : 'Merienda', cursive;
    --font-Roboto:'Roboto', sans-serif;
    --background-color:#121240;
    --bg-color-gray:#f4f4f5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: var(--bg-color-gray);
    overflow-x: hidden;
}
.nav-container {
    position: relative;
    background-color: var(--background-color);
    background-image: url("../images/digital-marketing-agency-hero-img-bg-overlay.svg");
    background-position: bottom right;
    background-size: 50vw auto;
    background-repeat: no-repeat;
    height:70vh;
}
.nav-items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    z-index: 100;
}
.nav-logo {
    background: var(--color-white);
    width:60px;
    border-radius: 20px;
    margin-right: 20px;
    padding-top: 15px;
    margin-left: 40px;
}
#closeBtn,#openBtn {
    display: none;
    cursor: ponter;
}
.nav-left-links {
    display: flex;
    padding-top: 20px;
    margin-left: 30px;
}
.nav-links-lists {
    display: flex;
    margin-right: 30px;
}
.nav-links-lists li {
    list-style-type: none;
    margin: 20px;
}
.nav-links-lists li a:hover {
    color:var(--color-purple);
}
.nav-links-lists li a {
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.sub-menus {
    position:absolute;
    display: none;
    background-color: white;
    /* padding: 8px; */
    /* margin-top:10px; */
    border-top: 1px solid  var(--color-diagonal);
    transition:all 0.3s;
}
.dropdown:hover .sub-menus {
    /* position: relative; */
    display: block;
    top:55%;
}
.fa-chevron-down {
    margin-left: 3px;
    font-size: 15px;
}
.sub-menus li a  {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    color:black;
}
.nav-right-links {
    margin-right: 40px;
    padding-top: 20px;
}
.social-icons a {
    color:var(--color-white);
}
.social-icons .fab {
    margin-right: 20px;
    font-size: 20px;
}
.social-icons .fab:hover{
    color:var(--color-purple);
}

/* ABOUT SECTION */
.about {
    position:absolute;
    top:30%;
    left:10%;
    color:var(--color-white);
}
.about h1 {
    font-size: 56px;
    padding-bottom: 10px;
    font-family: var(--font-Hebo);
}
.about p {
    font-size: 25px;
    word-wrap: break-word;
    /* line-height: 1.6rem; */
}
/* ABOUT INFO CONTAINER */
.about-service-container {
    margin-bottom: 50vh;
}
.about-service {
    margin-top: 150px;
    display: flex;
    width:100%;
    max-width:1200px;
    margin-left: 70px;
    margin-bottom: 70px;
}
.about-heading h1 {
    width:100%;
    max-width:500px;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    font-family: var(--font-Hebo);
    color:var(--color-text);
}
.about-description p{
    font-family: var(--font-Hebo);
    margin-left: 50px;
    width:100%;
    max-width:650px;
    font-size: 18px;
    color:var(--color-text-2);
    line-height: 30px;
    overflow-wrap: break-word;
}
.about-divider {
    width:90%;
    border:1px solid;
    margin-left: 70px;
    margin-bottom: 80px;
    color:var(--color-white);
}
.about-testimonial-cont {
    display: flex;
    margin-left: 70px;
}
.about-quote .fas {
    font-size: 30px;
    color:var(--color-diagonal);
}
.about-testimonial {
    margin-left: 30px;
}
.about-testimonial p {
    width:100%;
    max-width:950px;
    font-size:24px;
    font-weight: bold;
    font-family: var(--font-Hebo);
    color:var(--color-text);
}
.about-test-cont {
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 100px;
}
.about-img img {
    width:45px;
    border-radius: 50%;
    margin-right: 10px;
}
.about-test-info h4 {
    text-transform: uppercase;
    font-family: var(--font-Hebo);
}

/* Services Img */
.service-img img {
    height:60vh;
    width:100%;
}

.divider {
    width:100%;
    border:1px solid var(--color-white);
}

/* REVIEW SECTION CONTAINER */

.review-items {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    height:150px;
    width:100%;
    /* max-width:1200px; */
}
.reviews {
    margin-top:20px;
    margin-bottom: 20px;
    margin-left:100px;
    margin-right:170px;
    position: relative;
}
.review-icons {
    background:var(--color-diagonal);
    width:50px;
    height:50px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
}
.review-count {
    position:absolute;
    left:100%;
    top:-25%;
}
.review-icons, .fab, .fas {
    font-size: 30px;
    color:var(--color-white);
}
.review-count span {
    font-size: 50px;
    font-weight: 900;
    font-family: var(--font-Hebo);
    color:var(--color-text);
    
}
.review-count p {
    font-weight: 600;
    padding-bottom: 20px;
    width:300px;
    font-size:20px;
    color:var(--color-text);
    margin-top: -5px;
}

/* OUR SERVICES SECTION */
.our-services {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-left: 50px;
    margin-top:100px;
}
.our-service-text h1 {
    padding-top: 12px;
    font-size: 20px;
    text-transform: uppercase;
    color:var(--color-diagonal-2);
}
.full-services {
    max-width:900px;
    margin-right: 40px;
}
.full-services-desc h2 {
    padding-bottom: 25px;
    width:100%;
    max-width:500px;
    font-size: 50px;
    color:var(--color-text);
    text-transform: capitalize;
    font-family:var(--font-Hebo);
}
.full-services-desc p {
    font-size: 20px;
    color:var(--color-text);
    padding-bottom: 50px;
    color:var(--color-text);

}
.service-divider {
    width:95%;
    border:1px solid var(--color-white);
    margin-bottom: 40px;
}
.services-option {
    display: flex;
    justify-content: space-between;
}
.services-desc {
    margin-right: 18px;
}
.services-desc .far {
    padding-bottom: 20px;
    font-size: 25px;
    color:var(--color-diagonal-2);
}
.services-desc h4 {
    padding-bottom: 15px;
    font-size: 25px;
    font-family: var(--font-Hebo);
    color:var(--color-text);
    text-transform: capitalize;
}
.services-desc p {
    color:var(--color-text);
    margin-bottom: 40px;
}
/* REVIEWERS */

.reviewers-divider {
    width:95%;
    margin-left: 40px;
    border:1px solid var(--color-white);
}
.reviewers {
    display: flex;
    padding-top: 40px;
    width:90%;
    margin-left: 50px;
}
.reviewers-info {
    margin: 25px;
}
.ratings {
    padding-bottom: 25px;
    color:var(--color-diagonal-2);
}
.reviewers-info-text {
    font-family: var(--font-Hebo);
    font-size: 18px;
    margin-bottom: 20px;
}
.reviewers-info-info {
    display: flex;
    margin: 20px;
    align-items: center;
}
.reviewers-img {
    margin-right: 20px;
    padding-top: 12px;
}
.reviewers-img img {
    border-radius: 50%;
}
.reviewers-name {
    text-transform: uppercase;
    font-size: 15px;
}
/* CONTACT US CONTAINER */
.contact-us-container {
    background: var(--color-text);
    height:120vh;
}
.contact-us {
    display: flex;
    width:100%;
    /* max-width:750px; */
    margin-left: 60px;
    padding-top: 100px;
}
.contact-us-left {
    max-width:550px;
}
.contact-us-left h1 {
    font-size: 40px;
    font-family: var(--font-Hebo);
    margin-right: 30px;
    color:var(--color-white);
    padding-bottom: 30px;
}
.contact-us-left p {
    font-size: 20px;
    color:var(--color-white);
}
.contact-us-left span {
    font-size: 20px;
    color:var(--color-bluish-cyan);
}
.contact-divider {
    border-left: 1px solid var(--color-white);
    margin-left: 60px;
    margin-right: 60px;
}
/* CONTACT US RIGHT */
.contact-us-right h2 {
    font-size: 35px;
    padding-bottom: 25px;
    margin-left: 15px;
    color:var(--color-white);
}
input{
    width:30vw;
    height:50px;
    margin: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}
input,textarea[placeholder] {
    padding-left: 20px;
    font-size: 20px;
    padding-top: 12px;
}
.textarea-field{
    margin: 15px;
    height:30vh;
    width:30vw;
}
button {
    margin: 15px;
    padding: 15px 25px;
    border-radius: 5px;
    background:var(--color-diagonal-2);
    border:none;
    color:var(--color-bluish-cyan);
    font-size: 18px;
    text-transform: capitalize;
    cursor:pointer;
}
/* FOOTER CONTAINER */
.footer-container {
    position: relative;
}
.footer {
    width:100%;
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.footer--logo {
    width:60px;
}
.footer-social {
    padding-top: 30px;
}
.footer-social .fab {
    font-size: 20px;
    color:var(--color-diagonal);
    margin-right: 20px;
}
.footer-items {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    color:var(--color-text);
}
.footer-logo {
    margin-right: 30px;
    width:300px;
}
.footer-lists {
    margin-left: 30px;
}
.footer-lists h2 {
    padding-bottom: 25px;
    font-family: var(--font-Hebo);
    font-weight: 600;
}
.footer-lists p {
    line-height:25px;
    font-size: 15px;
    font-family: var(--font-Hebo);
}
.copyright {
    width:90%;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.scroll-home {
    background: var(--color-diagonal);
    width:50px;
    height:50px;
    border-radius: 50%;
}
.scroll-home .fas {
    font-size: 30px;
    padding-left:13px;
    padding-top: 10px;
}

/* RESPONSIVENESS OF ABOUT PAGE */

@media screen and (max-width:1255px) {
    .reviews {
        margin-right:0 auto;
        margin-left:auto;
    }
}
@media screen and (max-width:1190px) {
    .about-heading h1 {
        font-size: 45px;
    }
}
@media screen and (max-width:1150px) {
    .about-heading h1 {
        margin-right:30px;
    }
    .about-description p {
        margin-left: 20px;
    }
    .about-testimonial p {
        font-size: 22px;
    }
    .full-services {
        width:750px;
    }
    .full-services-desc h2 {
        font-size: 45px;
    }
}
@media screen and (max-width:1146px) {
    .about-heading h1 {
        font-size: 40px;
    }
    .contact-divider {
        margin-left: 40px;
    }
}
@media screen and (max-width:1135px) {
        .about-description p {
            max-width:500px;
            margin-left: 0;
        }
}
@media screen and (max-width:1100px) {
        .about-description p {
            max-width:450px;
        }
        .contact-divider {
            margin-left: 15px;
        }
        .contact-us-left h1 {
            font-size: 35px;
        }
        input, textarea {
        width:30vw;
        /* margin-right: 40px; */
    }
    .reviewers-name {
        font-size: 13px;
    }
}
@media screen and (max-width:1097px) {
    .textarea-field {
        width:40vw;
    }
}
@media screen and (max-width:1072px) {
    .about-description p {
        max-width:400px;
    }
    .about-testimonial p {
        font-size: 20px;
    }
}
@media screen and (max-width:1038px) {
    .about-testimonial p {
        font-size: 20px;
    }
    .review-count span {
        font-weight: 500;
    }
    .full-services-desc h2 {
        font-size: 40px;
    }
}
@media screen and (max-width:1030px) {
    .services-desc h4 {
        font-size: 20px;
    }
    .full-services-desc h2 {
        font-size: 30px;
    }
    .full-services-desc p {
        font-size: 18px;
    }
    
    .reviewers {
        flex-direction: column;
    }
    .reviewers-info-text {
    font-size: 19px;
}
.reviewers-name {
    font-size: 17px;
}
}
@media screen and (max-width:1017px) {
     .about-service {
        margin-left: 30px;
    }
    .about-heading h1 {
        max-width: 400px;
        font-size: 30px;
    }
    .about-description p {
        max-width:420px;
    }
    .full-services {
        max-width: 700px;
    }
    .full-services-desc h2 {
        font-size: 30px;
    }
    .reviewers-info-text p {
        font-size: 15px;
    }
    .reviewers-name {
        font-size: 13px;
    }
}

@media screen and (max-width:987px) {
    #openBtn {
        display:block;
        font-size: 30px;
        position: absolute;
        left:93%;
        padding-top: 15px;
        cursor: pointer;
    }
    #closeBtn {
        position:absolute;
        top:0;
        left:90%;
        padding-top: 10px;
        display: block;
        font-size: 30px;
        cursor: pointer;
        color:var(--color-white);
    }
    .nav-links {
        position:absolute;
        top:90%;
        left:-100%;
        background: var(--color-diagonal);
        height:70vh;
        width:40vw;
        transition:left 0.6s ease-in-out;
    }
    .showMenu{
        left:0;
    }
    .nav-right-links .social-icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:300%;
        padding-right:40px;
        padding-top: 120px;
    }
    .social-icons .fab {
        margin: 10px;
        color:var(--color-diagonal-2);
    }
    .nav-links-lists  {
        flex-direction: column;
        padding-top:30px;
        padding-left: 10px;
    }
    .nav-links-lists li {
        border-bottom: 1px solid var(--color-bluish-cyan);
        text-align:  center;
    }
}

@media screen and (max-width:950px) {
    .service-img img {
        height:40vh;
    }
    .review-items {
        padding-left: 20px;
    }
    .review-icons {
        width:40px;
        height:40px;
    }
    .review-icons, .fab, .fas {
        font-size: 25px;
    }
    .review-count {
        top:-10%;
    }
    .review-count span {
        font-size:35px;
    }
    .review-count p {
        font-size: 19px;
        padding-top: 12px;
    }
    .full-services {
        max-width:600px;
    }
    .contact-us-left h1 {
        font-size: 30px;
    }
    .contact-divider{
        margin-right: 20px;
    }
}

@media screen and (max-width:936px) {
    .about h1 {
        text-align: center;
        font-size: 60px;
    }
    .about p {
        font-size: 20px;
    }
    .about-description p {
        max-width:380px;
    }
    .about-testimonial p {
        font-size: 18px;
    }
    .about-test-info h4{
        font-size: 15px;
    }
    .our-services {
        flex-direction: column;
    }
    .our-services h1 {
        padding-bottom: 30px;
    }
    .full-services h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:895px){
    .about-description p {
        max-width:350px;
    }
    .about-testimonial p {
        font-size: 17px;
        font-weight: 400;
    }
    .review-items{
        padding-left: 100px;
    }
    .contact-us-left h1 {
        font-size: 25px;
    }
    .contact-us-left p {
        font-size: 18px;
    }
    .contact-us-left span {
        font-size: 18px;
    }
    .contact-us-right h2 {
        font-size: 30px;
    }
    .footer-items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-lists h2 {
        padding-top: 20px;
    }
}
@media screen and (max-width:880px) {
    .about-description p {
        max-width:300px;
    }
    .review-count p {
        font-size: 15px;
    }
}
@media screen and (max-width:837px) {
    .review-count span {
        font-size: 30px;
        font-weight: bold;
    }
    .review-count {
        left:80%;
        top:5%;
    }
    .contact-us {
        margin-left: 30px;
    }
}
@media screen and (max-width:815px) {
    .about-service {
        /* max-width:800px; */
        margin-left: 30px;
    }
    .about-description p {
        max-width:300px;
    }
}
@media screen and (max-width:798px) {
    .review-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height:300px;
    }
    .review-count {
        top:100%;
        left:0;
    }
    .reviews {
        margin-top: -70px;
        margin-left: 50px;
    }
    .review-icons, .fab, .fas {
    font-size: 25px;
    color:var(--color-white);
}
.review-count span {
    font-size: 30px;
}
.review-count p {
    font-size:19px;
}
    .our-service-text {
        padding-top: 50px;
    }
    .full-services-desc h2 {
        font-size: 25px;
    }
}
@media screen and (max-width:780px) {
    .about-service {
        flex-direction: column;
        margin-left: 50px;
    }
    .about-service h1 {
        max-width:600px;
        font-size: 35px;
    }
    .about-description p {
        max-width:650px;
    }
}
@media screen and (max-width:730px) {
    .services-option {
        flex-direction: column;
    }
        .services-desc .far {
        font-size: 35px;
}
    .services-desc h4 {
    font-size: 25px;
}
    .our-service-text h1 {
        padding-bottom: 30px;
        font-size: 20px;
    }
    .full-services {
        width:700px;
    }
    .full-services-desc h2 {
        font-size: 30px;
    }
    .full-services-desc p {
        font-size: 20px;
        width:650px;
    }
.review-icons, .fab, .fas {
    font-size: 25px;
}
.review-count span {
    font-size: 30px;
}
.review-count p {
    font-size:19px;
}
.reviewers {
    margin-left: 30px;
}
.reviewers-info-text {
    font-family: var(--font-Hebo);
    font-size: 18px;
    margin-bottom: 20px;
}
.ratings .fa {
    font-size: 18px;
}
.reviewers-info-info {
    margin-bottom: 0;
    margin-right: 5px;
}
.reviewers-img {
    margin-right: 10px;
    padding-top:10px;
}
.reviewers-name {
    font-size: 15px;
}
    .contact-us-container {
    height:160vh;
}
    .contact-us {
    padding-top: 60px;
    flex-direction: column;
}
.contact-us-left h1 {
    font-size: 30px;
    padding-bottom: 30px;
}
.contact-us-left p {
    font-size: 20px;
    color:var(--color-white);
}
.contact-us-left span {
    font-size: 20px;
    color:var(--color-bluish-cyan);
}
.contact-divider {
    border-bottom:1px solid var(--color-white);
    margin-top: 30px;
    margin-bottom: 40px;
}
/* CONTACT US RIGHT */
input{
    width:90%;
    height:50px;
    margin: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.textarea-field {
    width:83vw;
}
.footer-lists {
    padding-top: 25px;
}

}
@media screen and (max-width:700px) {
    .about-service h1 {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .about-description p {
        max-width:600px;
    }
    .about-testimonial-cont {
        margin-left: 30px;
    }
    .full-services-desc h2 {
        font-size: 25px;
    }
    .full-services-desc p {
        max-width: 600px;
    }
    .our-services {
        margin-left:20px;
    }
}
@media screen and (max-width:675px) {
    
    .about-description p {
        max-width:600px;
    }
}
@media screen and (max-width:670px) {
    .about h1 {
        font-size: 40px;
    }
    .about p {
        font-size: 16px;
        padding-top: 40px;
    }
    .about-service {
        margin-left: 15px;
    }
}
@media screen and (max-width:638px){
    .about-description p {
        max-width: 550px;
        font-size: 18px;
    }
    .full-services-desc p {
        max-width:550px;
    }
}
@media screen and (max-width:580px) {
    .about-description p {
        font-size: 15px;
    }
    .full-services-desc p {
        max-width:450px;
    }
    .about-testimonial p {
        font-size:13px;
    }
    .nav-logo {
        margin-left: 10px;
    }
    .review-count {
        left:0;
    }
    .full-services-desc p {
        width:500px;
    }
    .contact-us {
    padding-top: 35px;
    }
    .contact-us-left {
        width:80%;
    }
    .contact-us h1 {
        font-size: 30px;
    }
    button {
        margin:10px;
        padding: 10px 20px;
        font-size: 15px;
    }
    .footer-items {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer-logo {
        width:500px;
        margin-left: 20px;
    }
    .footer-social {
        padding-bottom: 30px;
    } 
    .footer-lists p {
    line-height:28px;
    font-size: 20px;
}
    
}
@media screen and (max-width:564px) {
    .full-services-desc p {
        width:450px;
    }
}

@media screen and (max-width:520px) {
    .full-services {
        width:500px;
    }
    .full-services-desc h2 {
        font-size: 28px;
    }
    .contact-us h1 {
        font-size: 25px;
    }
    .footer-logo  {
        width:400px;
    }
    .footer-logo p {
    padding-bottom: 20px;
    }
}
@media screen and (max-width:500px) {
    .nav-right-links .social-icons {
        margin-top: 50px;
    }
    .review-container {
        height:150vh;
    }
    .nav-links {
        position:absolute;
        top:90%;
        left:-100%;
        background: var(--color-diagonal);
        height:70vh;
        width:60vw;
        transition:left 0.6s ease-in-out;
    }
       .showMenu{
        left:0%;
    }
    .nav-right-links .social-icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:300%;
        padding-right:40px;
        padding-top: 60px;
    }
    .social-icons .fab {
        margin: 10px;
    }
    input, textarea {
        width:80vw;
    }
    .contact-us-container {
        height:160vh;
    }
    .contact-us-right h2 {
    font-size: 25px;
    padding-bottom: 25px;
    margin-left: 15px;
    color:var(--color-white);
}
    .footer-container {
        align-items: center;
    }
}
@media screen and (max-width:615px) {
    .scroll-home {
        display: none;
    }
}
@media screen and (max-width:470px) {
    .contact-us-container {
        height:150vh;
    }
    .services-desc .far {
        font-size: 25px;
    }
    .services-desc h4 {
        font-size: 25px;
    }
    .review-items {
        width:100vw;
    }
    .reviewers-name {
        font-size:12px;
    }
    .full-services-desc h2 {
        font-size: 22px;
    }
    .full-services-desc p {
        font-size: 13px;
    }
    .contact-us-left h1 {
        font-size: 20px;
    }
    .contact-us-left p{
        font-size:18px;
    }
    .contact-us-left span{
        font-size:18px;
    }
    .contact-us-right h2 {
        font-size: 20px;
    }
    .footer-lists {
        margin-right:40px;
    }
}
@media screen and (max-width:1097px) {
.contact-us {
    width:90%;
}
.contact-us-left {
    width:500px;
}
.contact-us left h1 {
    font-size: 30px;
}
.contact-divider {
    margin-left: 40px;
}
input, textarea {
    width:40vw;
    height:60px;
}
}

@media screen and (max-width:1072px) {
    .contact-us left h1 {
    font-size: 20px;
}
}
@media screen and (max-width:1007px) {
.contact-us {
    width:90%;
}
.contact-us-left {
    width:500px;
}
.contact-us-left h1 {
    font-size: 30px;
}
.contact-us-left p {
    font-size: 18px;
}
.contact-us-left span {
    font-size: 18px;
}
.contact-us-right h2 {
    font-size:30px;
}
input, textarea {
    width:40vw;
    height:50px;
}
input,textarea[placeholder] {
    font-size:17px;
}
}
@media screen and (max-width:915px) {
    .contact-us-left h1 {
    font-size: 25px;
}
}
@media screen and (max-width:802px) {
    .contact-us{
        width:95%;
        margin-left: 30px;
    }
    .contact-us-left {
        width:600px;
    }
    .contact-divider {
        margin-right:20px;
    }
}

@media screen and (max-width:730px) {
.contact-us {
    padding-top: 80px;
    flex-direction: column;
}
.contact-us-left h1 {
    font-size: 30px;
    padding-bottom: 30px;
}
.contact-us-left p {
    font-size: 20px;
    color:var(--color-white);
}
.contact-us-left span {
    font-size: 20px;
    color:var(--color-bluish-cyan);
}
.contact-divider {
    border-bottom:1px solid var(--color-white);
    margin-top: 30px;
    margin-bottom: 40px;
}
/* CONTACT US RIGHT */
input, textarea {
    width:90%;
    height:50px;
    margin: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}
}

@media screen and (max-width:615px) {
    .contact-us-left h1 {
        font-size: 25px;
    }
    .contact-us-left p  {
        font-size: 17px;
    }
    .contact-us-left span {
        font-size: 17px;
    }
}

@media screen and (max-width:580px) {
    .nav-logo {
        margin-left: 10px;
    }
    .contact-us {
    padding-top: 70px;
    }
    .contact-us-left {
        width:80%;
    }
    .contact-us h1 {
        font-size: 30px;
    }
}
@media screen and (max-width:562px) {
    .contact-us-container {
        height: 165vh;
    }
}

@media screen and (max-width:520px) {
 
    .contact-us h1 {
        font-size: 25px;
    }
}
@media screen and (max-width:470px) {
    .contact-us-left h1 {
        font-size: 20px;
    }
    .contact-us-right h2 {
        font-size: 20px;
    }
}
