:root {
    --color-purple:#9b51e0;
    --color-diagonal:#3535de;
    --color-diagonal-2:#2c2cc9;
    --bg-overlay:rgba(41, 34, 177, 0.3);
    --color-white:#ffffff;
    --color-bluish-cyan:#f3f3ff;
    --color-gray:#7A7A7A;
    --color-text:#26262c;
    --color-text-2:#76767f;
    --color-cont:#54595F;
    --color-bluish-gray:#abb8c3;
    --font-Hebo: 'Heebo',sans-serif;
    --font-bryga: 'Brygada 1918', serif;
    --font-merienda : 'Merienda', cursive;
    --font-Roboto:'Roboto', sans-serif;
    --background-color:#121240;
    --bg-color-gray:#f4f4f5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: var(--bg-color-gray);
    overflow-x: hidden;
}
.nav-container {
    background-image: url("../images/digital-marketing-agency-branding-header-bg-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:90vh;
}
.overlay {
    position: absolute;
    top:0;
    left:0;
    background-color: #000;
    height:90%;
    width:100%;
    z-index: 1;
    opacity: 0.5;
}
.nav-items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    z-index: 100;
}
.nav-logo {
    background: var(--color-white);
    width:60px;
    border-radius: 20px;
    margin-right: 20px;
    padding-top: 15px;
    margin-left: 40px;
}
#closeBtn,#openBtn {
    display: none;
    cursor: ponter;
}
.nav-left-links {
    display: flex;
    padding-top: 20px;
    margin-left: 30px;
}
.nav-links-lists {
    display: flex;
    margin-right: 30px;
}
.nav-links-lists li {
    list-style-type: none;
    margin: 20px;
}
.nav-links-lists li a:hover {
    color:var(--color-purple);
}
.nav-links-lists li a {
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.sub-menus {
    position:absolute;
    display: none;
    background-color: white;
    /* padding: 8px; */
    /* margin-top:10px; */
    border-top: 1px solid  var(--color-diagonal);
    transition:all 0.3s;
}
.dropdown:hover .sub-menus {
    display: block;
}
.fa-chevron-down {
    margin-left: 3px;
    font-size: 15px;
}

.sub-menus  li a {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    color:black;
}
.sub-menus li:hover {
    color:var(--color-diagonal);
}
.nav-right-links {
    margin-right: 40px;
    padding-top: 20px;
}
.social-icons a {
    color:var(--color-white);
}
.social-icons .fab {
    margin-right: 20px;
    font-size: 20px;
}
.social-icons .fab:hover{
    color:var(--color-purple);
}

/* BRANDING SECTION */
.branding {
    position:absolute;
    top:50%;
    left:5%;
    color:var(--color-white);
    z-index: 2;
}
.branding h1 {
    font-size: 20px;
    padding-bottom: 10px;
    font-family: var(--font-Hebo);
}
.branding h2 {
    font-size: 56px;
    padding-bottom: 20px;
}
.branding p {
    font-size: 25px;
    max-width: 600px;
}

/* BRAND INFO */
.brand-info-container {
    background: var(--color-bluish-cyan);
    height: 80vh;
    position: relative;
    width: 100%;
    max-width: 1100px;
}
.brand-info {
    display: flex;
    margin-top: 80px;
    margin-left: 70px;
}
.brand-divider {
    width:50px;
    margin-top:15px;
    border: 1px solid var(--color-diagonal);
}
.brand-desc {
    display: flex;
    width: 100%;
    line-height: 50px;
}
.brand-desc h2 {
    position:absolute;
    max-width: 700px;
    left: 20%;
    font-size: 40px;
    font-family: var(--font-Hebo);
    color:var(--color-text);
}
.brand-text {
    display: flex;
    position: absolute;
    top:30%;
    left:20%;
    width: 100%;
}
.brand-text p {
    font-size: 18px;
    line-height: 35px;
    font-family: var(--font-Hebo);
    color: var(--color-text-2);
}
.brand-text p:nth-child(1) {
    margin-right: 40px;
}
.brand-text p:nth-child(2) {
    margin-right: 40px;
}
.custome-button {
    position: absolute;
    top:70%;
    left: 20%;
    font-size: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.custome-button a {
    text-decoration: none;
    font-family: var(--font-Hebo);
    color:var(--color-text);
    font-weight: 600;
}
.custome-button .fas {
    margin-left: 10px;
    color:var(--color-text);
}
/* OUR APPROACH SECTION */
.approach-container {
    background: var(--color-diagonal);
    height: 100vh;
    color: var(--color-white);
}
.approach {
    padding-top: 90px;
    text-align: center;
    position: relative;
}
.approach h4 {
    font-size: 18px;
    font-family: var(--font-Hebo);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 20px;
}
.approach h6 {
    text-transform: capitalize;
    font-family: var(--font-Hebo);
    font-size: 60px;
    padding-bottom: 20px;
}
.approach p {
    position: absolute;
    left: 20%;
    top:100%;
    font-size:18px;
    font-family: var(--font-Hebo);
    max-width: 700px;
    text-align: center;
}
.approach-cont {
    width: 100%;
    max-width: 1200px;
    margin-left: 80px;
    padding-top: 90px;
    display: flex;
    align-items: center;
}
.approach-info {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
}
.approach-icon {
    font-size: 30px;
    padding-bottom: 20px;
}
.approach-heading {
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom:20px;
    font-family: var(--font-Hebo);
}
.approach-text {
    font-size: 15px;
    line-height: 28px;
    font-family: var(--font-Hebo);
}

/* OUR WORK SECTION */
.our-work {
    margin-top:90px;
    margin-left: 60px;
}
.our-work-heading h2 {
    text-transform: capitalize;
    font-size: 40px;
    color: var(--color-text);
    font-family: var(--font-Hebo);
    padding-bottom: 20px;
}
.our-work-heading p {
    font-size: 20px;
    max-width:500px;
    font-family: var(--font-Hebo);
    color: var(--color-text-2);
    padding-bottom: 40px;
}
.our-work-gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 80px;
}
.gallery-info:nth-child(2n) {
    padding-top:70px;
}
.gallery-info h2 {
    font-size: 30px;
    padding-top: 30px;
    font-family: var(--font-Hebo);
    color: var(--color-text);
    padding-bottom: 15px;
}
.gallery-info p {
    max-width: 500px;
    font-size:20px;
    color: var(--color-text-2);
    line-height: 25px;
}

/* CONTACT US CONTAINER */
.contact-us-container {
    background: var(--color-text);
    height:120vh;
}
.contact-us {
    display: flex;
    width:100%;
    /* max-width:750px; */
    margin-left: 60px;
    padding-top: 100px;
}
.contact-us-left {
    max-width:550px;
}
.contact-us-left h1 {
    font-size: 40px;
    font-family: var(--font-Hebo);
    margin-right: 30px;
    color:var(--color-white);
    padding-bottom: 30px;
}
.contact-us-left p {
    font-size: 20px;
    color:var(--color-white);
}
.contact-us-left span {
    font-size: 20px;
    color:var(--color-bluish-cyan);
}
.contact-divider {
    border-left: 1px solid var(--color-white);
    margin-left: 60px;
    margin-right: 60px;
}
/* CONTACT US RIGHT */
.contact-us-right h2 {
    font-size: 35px;
    padding-bottom: 25px;
    margin-left: 15px;
    color:var(--color-white);
}
input {
    width:30vw;
    height:50px;
    margin: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}
input,textarea[placeholder] {
    padding-left: 20px;
    font-size: 20px;
    padding-top: 12px;
}
.textarea-field{
    margin: 15px;
    height:30vh;
    width:30vw;
}
button {
    margin: 15px;
    padding: 15px 25px;
    border-radius: 5px;
    background:var(--color-diagonal-2);
    border:none;
    color:var(--color-bluish-cyan);
    font-size: 18px;
    text-transform: capitalize;
    cursor:pointer;
}
/* FOOTER CONTAINER */
.footer-container {
    position: relative;
}
.footer {
    width:100%;
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.footer--logo {
    width:60px;
}
.footer-social {
    padding-top: 30px;
}
.footer-social .fab {
    font-size: 20px;
    color:var(--color-diagonal);
    margin-right: 20px;
}
.footer-items {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    color:var(--color-text);
}
.footer-logo {
    margin-right: 30px;
    width:300px;
}
.footer-lists {
    margin-left: 30px;
}
.footer-lists h2 {
    padding-bottom: 25px;
    font-family: var(--font-Hebo);
    font-weight: 600;
}
.footer-lists p {
    line-height:25px;
    font-size: 15px;
    font-family: var(--font-Hebo);
}
.copyright {
    width:90%;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.scroll-home {
    background: var(--color-diagonal);
    width:50px;
    height:50px;
    border-radius: 50%;
}
.scroll-home .fas {
    font-size: 30px;
    padding-left:13px;
    padding-top: 10px;
    color:var(--bg-color-gray);
}

/* RESPONSIVENESS OF THE BRANDING PAGE */

@media screen and (max-width:1302px) {
    .brand-info-container {
        max-width: 1000px;
    }
    
}

@media screen and (max-width:1264px) {
.approach-cont {
    max-width: 1100px;
}
}

@media screen and (max-width:1218px) {
    .gallery-info img {
        width:90%;
    }
    
}
@media screen and (max-width:1202px) {
    .brand-info-container {
        max-width: 1000px;
    }
    
}
@media screen and (max-width:1163px) {
    .brand-info-container {
        max-width: 900px;
    }
    .custome-button {
        top:80%;
    }
    .gallery-info img {
        width:85%;
    }
}
@media screen and (max-width:1157px) {
    .brand-info-container {
        max-width: 800px;
    }
    .approach-cont {
        max-width: 1000px;
    }
    .approach h6 {
        font-size: 55px;
    }
}
@media screen and (max-width:1097px) {
    .approach-info .fas {
        font-size: 30px;
    }
 .contact-us {
     width:90%;
 }
 .contact-us-left {
     width:500px;
 }
 .contact-us left h1 {
     font-size: 30px;
 }
 .contact-divider {
     margin-left: 40px;
 }
 input, textarea {
     width:40vw;
     height:60px;
 }
 .textarea-field {
    width:40vw;
}
 }
 @media screen and (max-width:1072px) {
    .contact-us left h1 {
    font-size: 20px;
}
}
@media screen and (max-width:1060px){
    .approach-cont {
        max-width: 900px;
    }
    .approach-container {
        height: 95vh;
    }
    .gallery-info h2 {
        font-size: 27px;
    }
    .gallery-info p {
        max-width:480px;
        font-size: 18px;
    }
    
}
@media screen and (max-width:1007px) {
    .gallery-info p {
        max-width:450px;
    }
    
}
@media screen and (max-width:967px) {
    .approach h6 {
        font-size: 50px;
    }
    .approach p {
        left:15%;
        font-size: 16px;
    }
    .approach-cont {
        margin-left: 40px;
    }
}
@media screen and (max-width:941px) {
    .brand-info-container {
        max-width: 700px;
    }
    .brand-desc h2 {
        font-size: 35px;
    }
    .custome-button {
        top:85%;
    }
    .gallery-info p {
        max-width: 400px;
    }
    .gallery-info img {
        width:80%;
    }
    .our-work-heading p {
        font-size: 19px;
    }
    
}
@media screen and (max-width:924px) {
.approach h6 {
    font-size: 45px;
    }
    .approach p {
        max-width: 600px;
    }
    .approach-cont {
        max-width: 850px;
        margin-left:20px;
    }
}
@media screen and (max-width:848px) {
    .gallery-info p {
        max-width:350px;
    }
    
}
@media screen and (max-width:819px) {
    .brand-info-container {
        max-width: 600px;
    }
    .brand-desc h2 {
        font-size: 30px;
    }
    .brand-text p {
        font-size: 16px;
    }
    .custome-button {
       font-size: 18px;
    }
    .brand-info .brand-divider {
        margin-top: 0;
    }
}
@media screen and (max-width:800px) {
    .approach h6 {
        font-size: 40px;
    }
    .approach p {
        left: 13%;
    }
    .approach-icon {
        font-size: 20px;
    }
    .approach-heading {
        font-size: 35px;
    }
    
}

@media screen and (max-width:767px) {
    .approach-container {
        height: 140vh;
    }
    .approach-cont {
        flex-direction: column;
    }
    .approach-icon {
        padding-top: 20px;
    }
    .approach-heading {
        padding-bottom: 20px;
    }
    .approach-text {
        font-size: 18px;
    }
    .our-work {
        margin-left: 20px;
    }
    .our-work-heading h2 {
        font-size: 35px;
    }
    .our-work-heading p {
        max-width: 700px;
        font-size: 17px;
    }
    .our-work-gallery {
        display: flex;
        flex-direction: column;
    }
    .gallery-info img {
        width:65%;
    }
    .gallery-info p {
        max-width: 700px;
    }
    .info-roogitec {
        padding-top:50px;
    }
}
 @media screen and (max-width:730px) {
    .branding p {
        font-size: 20px;
    }

 .contact-us-container {
     height:160vh;
 }
 .contact-us {
     padding-top: 80px;
     flex-direction: column;
 }
 .contact-us-left h1 {
     font-size: 30px;
     padding-bottom: 30px;
 }
 .contact-us-left p {
     font-size: 20px;
     color:var(--color-white);
 }
 .contact-us-left span {
     font-size: 20px;
     color:var(--color-bluish-cyan);
 }
 .contact-divider {
     border-bottom:1px solid var(--color-white);
     margin-top: 30px;
     margin-bottom: 40px;
 }
 /* CONTACT US RIGHT */
 input {
     width:90%;
     height:50px;
     margin: 15px;
     border-radius: 5px;
     outline: none;
     border: none;
 }
 .textarea-field {
    width:83vw;
}
 .footer-lists {
     padding-top: 25px;
 }
 }
@media screen and (max-width:697px) {
.brand-info {
    flex-direction: column;
}
.brand-desc {
    flex-direction: column;
}
.brand-desc h2 {
    left: 5%;
    padding-top: 15px;
    font-size: 28px;
}
.brand-text {
    flex-direction: column;
    left: 5%;
}
.custome-button {
    left: 5%;
    padding-top: 20px;
}
.approach h6 {
    font-size: 35px;
}
.approach p {
    left: 0;
    margin-left: 30px;
}
}
@media screen and (max-width:600px) {
    .brand-desc h2 {
        font-size: 25px;
    }
    .gallery-info img {
        width:80%;
    }
    
}
@media screen and (max-width:580px) {
    .gallery-info img {
        width:85%;
    }
}
@media screen and (max-width:540px) {
    .brand-info-container {
        height: 85vh;
    }
    .custome-button {
        top:88%;
    }
    
}
@media screen and (max-width:525px) {
    .approach-container {
        height: 150vh;
    }
    .gallery-info img {
        width:90%;
    }
    
}
@media screen and (max-width:514px) {
    .brand-info {
        margin-top: 40px;
    }
    .brand-text {
        top:25%;
    }
    .gallery-info img {
        width:95%;
}
}

 @media screen and (max-width:1007px) {
 .contact-us {
     width:90%;
 }
 .contact-us-left {
     width:500px;
 }
 .contact-us-left h1 {
     font-size: 30px;
 }
 .contact-us-left p {
     font-size: 18px;
 }
 .contact-us-left span {
     font-size: 18px;
 }
 .contact-us-right h2 {
     font-size:30px;
 }
 /* input, textarea {
     width:40vw;
     height:50px;
 } */
 input,textarea[placeholder] {
     font-size:17px;
 }

 .footer {
     width:95%;
 }
 .footer-lists h2 {
     font-size: 20px;
 }
 .footer-logo {
     margin-right: 30px;
     width:200px;
 }
 .footer--logo img {
     padding-bottom: 20px;
 }
 .scroll-home {
     background: var(--color-diagonal);
     width:50px;
     height:50px;
     border-radius: 50%;
 }
 .scroll-home .fas {
     font-size: 30px;
     padding-left:13px;
     padding-top: 10px;
 }
 }
 @media screen and (max-width:987px) {
     #openBtn {
         display:block;
         font-size: 30px;
         position: absolute;
         left:93%;
         padding-top: 15px;
         cursor: pointer;
     }
     #closeBtn {
         position:absolute;
         top:0;
         left:90%;
         padding-top: 10px;
         display: block;
         font-size: 30px;
         cursor: pointer;
         color:var(--color-white);
     }
     .nav-links {
         position:absolute;
         top:90%;
         left:-100%;
         background: var(--color-diagonal);
         height:70vh;
         width:40vw;
         transition:left 0.4s ease-in-out;
     }
     .nav-logo {
        width: 50px;
     }
     .showMenu{
         left:0;
     }
     .nav-right-links .social-icons {
         display: flex;
         flex-direction: column;
         position: absolute;
         top:280%;
         padding-right:40px;
         padding-top: 60px;
     }
     .social-icons .fab {
         margin: 10px;
     }
     
     .nav-links-lists  {
         flex-direction: column;
         padding-top:30px;
     }
     .nav-links-lists li {
         border-bottom: 1px solid  var(--color-bluish-cyan);
         text-align: center;
     }
 }
 
 @media screen and (max-width:915px) {
     .contact-us-left h1 {
     font-size: 25px;
 }
     
 }
 @media screen and (max-width:802px) {
    .contact-us{
         width:95%;
         margin-left: 30px;
     }
     .contact-us-left {
         width:600px;
     }
     .contact-divider {
         margin-right:20px;
     }
     .footer-items {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }
     .footer-lists {
         margin-bottom: 30px;
     }
     .footer-lists h2 {
         font-weight: bold;
     }
     .footer-lists p {
         font-size: 18px;
     }
     .footer-logo p {
         font-size: 20px;
     }
 }
 

 @media screen and (max-width:640px) {
     .nav-logo {
         margin-left: 20px;
     }
     #openBtn {
         left:90%;
     }
 }
 @media screen and (max-width:615px) {
     .contact-us-left h1 {
         font-size: 25px;
     }
     .contact-us-left p  {
         font-size: 17px;
     }
     .contact-us-left span {
         font-size: 17px;
     }
     .scroll-home {
         display: none;
     }
 }
 
 @media screen and (max-width:580px) {
    
     .nav-logo {
         margin-left: 10px;
     }
     .contact-us {
     padding-top: 70px;
     }
     .contact-us-left {
         width:80%;
     }
     .contact-us h1 {
         font-size: 30px;
     }
     button {
         margin:10px;
         padding: 10px 20px;
         font-size: 15px;
     }
     .footer-items {
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;
     }
     .footer-logo {
         width:500px;
         margin-left: 20px;
     }
     .footer-social {
         padding-bottom: 30px;
     } 
     .footer-lists p {
     line-height:28px;
     font-size: 20px;
 }
 }
 
 @media screen and (max-width:520px) {
     .contact-us h1 {
         font-size: 25px;
     }
     .footer-logo  {
         width:400px;
     }
     .footer-logo p {
     padding-bottom: 20px;
     }
 }
 @media screen and (max-width:500px) {
     .nav-links {
         position:absolute;
         top:90%;
         left:-100%;
         background: var(--color-diagonal);
         height:70vh;
         width:60vw;
         transition:left 0.4s ease-in-out;
     }
     .showMenu{
         left:0%;
     }
     .nav-right-links .social-icons {
         display: flex;
         flex-direction: column;
         position: absolute;
         top:300%;
         padding-right:40px;
         padding-top: 60px;
     }
     .social-icons .fab {
         margin: 10px;
     }
     .footer-container {
         align-items: center;
     }
     .footer-lists {
         margin-right:50px;
     }
 }
 
 @media screen and (max-width:470px) {
     
     .contact-us-container {
        height:150vh;
     }
     
     .contact-us-left h1 {
        font-size: 20px;
     }
     .contact-us-right h2 {
        font-size: 20px;
     }
 }